# Any and all log files
*.log

# Visual Studio Code settings folder
.vscode/

# Eslint stuff
node_modules/*

# Filter Angular & Bootstrap
!node_modules/angular-animate/
!node_modules/angular-aria/
!node_modules/angular-material/
!node_modules/angular-messages/
!node_modules/angular-scroll/
!node_modules/angular/
!node_modules/bootstrap/
!node_modules/jquery/
!node_modules/moment/
!node_modules/popper.js/