/* General Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #devs > div > div {
        margin-left: 12.5%;
        margin-right: 12.5%;
    }

    ul.icons li .icon,
    #footer .copyright {
        font-size: 1.2em;
    }
}

/* iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #devs > div > div {
        margin-left: 2%;
        margin-right: 2%;
    }

    ul.icons li .icon,
    #footer .copyright {
        font-size: 1.3em;
    }
}

/* iPhone 6s Landscape */
@media only screen and (device-width: 667px) {
    #devs > div > div {
        margin-left: 24%;
        margin-right: 0%;
    }

    ul.icons li .icon,
    #footer .copyright {
        font-size: 1.2em;
    }
}

/* iPhone 7 Plus Landscape */
@media only screen and (min-device-width: 736px) and (max-device-width: 1366px) {
    #devs > div > div {
        margin-left: 3.3333333333333%;
        margin-right: 0%;
    }

    ul.icons li .icon,
    #footer .copyright {
        font-size: 1.2em;
    }
}

/* iPad Pro Portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px)  {
    #devs > div > div {
        margin-left: 15%;
        margin-right: 0%;
    }

    ul.icons li .icon,
    #footer .copyright {
        font-size: 2em;
    }
}

/* iPad Pro Landscape */
@media only screen and (device-width: 1366px) {
    #devs > div > div {
        margin-left: 8%;
        margin-right: 0%;
    }

    ul.icons li .icon,
    #footer .copyright {
        font-size: 1.2em;
    }
}

/* iPhone SE */
@media only screen and (device-width: 320px) and (device-height: 568px) {
    #devs > div > div {
        margin-left: 5%;
        margin-right: 5%;
    }

    ul.icons li .icon,
    #footer .copyright {
        font-size: 1.2em;
    }
}

/* iPhone SE Landscape */
@media only screen and (device-height: 320px) and (device-width: 568px) {
    #devs > div > div {
        margin-left: 19%;
        margin-right: 0%;
    }

    ul.icons li .icon,
    #footer .copyright {
        font-size: 1.2em;
    }
}